* {
  padding: 0;
  margin: 0; }

.main {
  width: 650px;
  height: 500px;
  background-color: #eee;
  border: 3px solid black;
  margin: 100px auto 0;
  position: relative; }
  .main .bar {
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 3px #222 solid;
    background-color: #c73434; }
    .main .bar .tle {
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      text-indent: 10px; }
    .main .bar .static {
      font-weight: 600;
      text-indent: 10px; }
  .main .showmessage {
    height: 450px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 200px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #64c12a; }
    .main .showmessage p {
      width: 440px;
      word-wrap: break-word;
      word-break: normal; }
    .main .showmessage img {
      max-width: 99%; }
  .main .typing {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    height: 450px;
    background-color: #66f;
    float: left;
    border-left: 3px #222 solid; }
    .main .typing .pic img {
      width: 200px;
      height: 200px;
      display: block; }
    .main .typing .btn li {
      float: left;
      list-style: none; }
      .main .typing .btn li input {
        display: block;
        width: 100px;
        height: 20px;
        background-color: #d637d1;
        text-align: center;
        line-height: 16px;
        font-style: normal;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
        border-bottom: 2px solid #224; }
      .main .typing .btn li .rbd {
        border-right: 2px solid #224; }
      .main .typing .btn li .imageLable {
        position: relative; }
        .main .typing .btn li .imageLable .sendImage {
          position: absolute;
          width: 100px;
          top: -20px;
          left: 0;
          opacity: 0;
          overflow: hidden; }
      .main .typing .btn li .utlbtn {
        width: 200px; }
      .main .typing .btn li .disabled {
        color: #fff; }
    .main .typing .funwrapper {
      position: absolute;
      top: 238px;
      left: 0px;
      width: 100%;
      background-color: black;
      display: none; }
      .main .typing .funwrapper img {
        float: left;
        margin: 2px;
        padding: 2px;
        width: 25px;
        height: 25px; }
    .main .typing .typeBlock .send {
      width: 100%;
      height: 30px;
      background-color: #1f9cd8;
      position: absolute;
      bottom: 0;
      right: 0;
      font-weight: 700;
      border: 0;
      font-size: 18px;
      border-top: 3px solid black; }
    .main .typing .typeBlock .type {
      background-color: #d8e600;
      width: 100%;
      height: 160px;
      overflow: hidden;
      scroll-y: auto;
      overflow-x: hidden;
      border: 0;
      outline: none;
      font-size: 18px;
      padding: 5px;
      box-sizing: border-box; }
  .main .mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none; }
  .main .login {
    width: 350px;
    height: 80px;
    position: fixed;
    top: 200px;
    left: 50%;
    border: 3px solid #eee;
    display: none;
    background-color: #59d8d2;
    margin-left: -175px; }
    .main .login .name {
      padding: 0 20px;
      width: 160px;
      height: 20px;
      line-height: 20px;
      font-size: 15px;
      border: 0;
      float: left;
      outline: none; }
    .main .login .confirm {
      background-color: #ead016;
      width: 150px;
      height: 20px;
      border: 0;
      float: left; }
  .main .utlImg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none; }
    .main .utlImg img {
      width: 100%;
      height: 100%; }
  .main .active {
    display: block; }

/*# sourceMappingURL=css.css.map */
